$lightBlue: #3B487F;
$darkBlue: #212C57;
$bgBlue: #E7E9F2;
$border: #D1D5E6;
$bgGray: #F3F3F3;
$activeGray: #FAFBFC;
$textGray: #515253;
$textBlue: #5F6A96;
$textLightGray: #7E7E7E;
$inputLabelGray: #B1B1B1;

$page-width: 970px;

$borderRadius: 4px;

$transitionTime: 0.3s;
